header{
    background-color: white;
}

body{
    background-color: #bdbdbd;
    margin: 0%;
}

div{
    box-sizing: border-box; 
}
div.post{
    background-color: white;
    margin-top: 10px;
}

div.post img{
    width: 100%;
    height: auto;
}

header h1{
    margin: 0%;
    padding: 10px;
}

div.Container{
    width: 600px;
    margin: auto;
}
div.post h2{
    padding: 10px;  
    margin: 0%;
}


div.post p{
    padding: 10px;
}

div.post .ashley div:first-child{
    display: inline-block;
    width: 80%;
   
}

div.post .ashley div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: grey;
    
}
